## Test 2.0

# !!Checkout!!
## [Click to View answers Directly](#answers)

# Functions

1- Write a function that takes a number and returns its square.

2- Write a function that takes two numbers and returns the larger one.

3- Write a function that prints “Welcome to AIML” five times using a loop.

4- Write a function that checks if a number is even or odd.

5- Create a function that takes a list and returns the sum of all elements.

# Loops
1- Write a for loop to print numbers from 1 to 10.

2- Write a while loop to print all even numbers between 1 and 20.

3- Write a loop to print each character of a given string.

4- Write a loop that prints the multiplication table of 5.

5- Write a loop that takes a list of numbers and prints only the positive ones.

#  Try and Except
1- Write a function that takes two numbers and divides them. Use try and except to handle divide-by-zero errors.

2- Write a program that asks the user for a number and handles the case where the input is not a number using try and except.

3- Write a program that opens a file using try, and prints a custom error if the file is not found.

4- Create a function that adds two numbers, and raises an error message if one of the inputs is not a number.

5- Write a program using try and except to read an integer from the user safely.

# Lambda, Map, Filter
1- Use a lambda function to add 10 to a given number.

2- Use map and lambda to convert a list of numbers into their squares.

3- Use filter and lambda to extract even numbers from a list.

4- Use map and a lambda to convert a list of lowercase strings to uppercase.

5- Use filter and a lambda to find numbers greater than 50 in a given list.

# Variable Scope
1- Write a program to show the use of a global variable inside a function.

2- Write a program where a local variable inside a function does not affect a global variable with the same name.

3- Create a function that modifies a global variable.

4- Write two functions, one that sets a local variable and one that accesses a global variable. Print both.

5- Write a function where a variable is declared inside the function and show that it cannot be accessed outside.

Universal Input List 
You can use this list for most questions that require a list or numeric collection:

numbers = [5, -2, 12, 7, 0, 33, -10, 8]
words = ["apple", "banana", "kiwi", "fig", "strawberry", "grape"]

All the Best

# Answers

In [1]:
numbers = [5, -2, 12, 7, 0, 33, -10, 8]
words = ["apple", "banana", "kiwi", "fig", "strawberry", "grape"]

## Functions

In [2]:
# 1
def square(x):
    return x**2
square(numbers[0])

25

In [3]:
# 2 
def bigger(x,y):
    if x > y:
        return x
    else:
        return y
bigger(8,9)

9

In [4]:
# 3
def message():
    for x in range(5):
        print('Welcome to AIML')
message()

Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML

In [5]:
# 4 
def even_or_odd(x):
    if x%2==0:
        print('even')
    else:
        print('odd')
even_or_odd(numbers[4])

even

In [6]:
# 5
def sum_all(x:list):
    sum = 0
    for elements in x:
        sum += elements
    return sum

sum_all(numbers)

53

## Loops

In [7]:
# 1
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [9]:
# 2
count = 1
while count<21:
    if count%2==0:
        print(count)
    count+=1

2
4
6
8
10
12
14
16
18
20

In [10]:
# 3
word = words[0]
for x in word:
    print(x)

a
p
p
l
e

In [11]:
# 4
till = 10
for x in range(1,till+1):
    print(5*x)

5
10
15
20
25
30
35
40
45
50

In [12]:
# 5
for x in numbers:
    if x > 0:
        print(x)

5
12
7
33
8

## Try and Except

In [26]:
# 1
def divide(dividend,divisor):
    try:
        quotient = dividend/divisor
    except ZeroDivisionError:
        print('Cannot Divide by zero')
        return None
    else:
        return quotient
a = divide(10,5)
print(a)
b = divide(10,0)
print(b)

2.0
Cannot Divide by zero
None

In [27]:
# 2
try:
    x = int(input('Enter a number'))
    print(f'You entered: {x}')
except:
    print('Please Enter the number only')

Please Enter the number only

In [28]:
# 3
try:
    with open('x.txt','r') as x:
        x.readlines()
except FileNotFoundError:
    print('File not found')

File not found

In [33]:
# 4
def add_numbers(num1,num2):
    try:
        num = num1 + num2
        return num
    except TypeError:
        print('One of the inputs is not a number')

add_numbers(3,'g')

One of the inputs is not a number

In [78]:
# 5
while True:
    try:
        num = int(input('Enter the integer: '))
        print(f'You Entered: {num}')
        break
    except:
        print('Invalid value entered, Enter again!')

Invalid value entered, Enter again!
Invalid value entered, Enter again!
Invalid value entered, Enter again!
You Entered: 10

## Lambda, Map, Filter

In [41]:
# 1 
number = lambda x : x+10
print(number(10))
print(number(20))

20
30

In [50]:
# 2
new_list = list(map(lambda x: x**2 ,numbers))
new_list

[25, 4, 144, 49, 0, 1089, 100, 64]

In [52]:
# 3
even_list = list(filter(lambda x: x%2==0,numbers))
even_list

[-2, 12, 0, -10, 8]

In [53]:
# 4 
upper_case = list(map(lambda x : x.upper(),words))
upper_case

['APPLE', 'BANANA', 'KIWI', 'FIG', 'STRAWBERRY', 'GRAPE']

In [55]:
# 5
new_numbers = [70,35,63,75,35,42,52,2]
greater = list(filter(lambda x : x>50,new_numbers))
greater

[70, 63, 75, 52]

## Variable Scope

In [60]:
# 1
PI = 3.14 # can be use outside the function
print(PI*2)
def area_of_circle(radius):
    area = PI*(radius**2) # PI can be use inside  the function as well
    return area

print(area_of_circle(5))
print(area_of_circle(10))

6.28
78.5
314.0

In [65]:
# 2
age_limit = 18

def adult():
    age_limit = 16
    return age_limit
print('age limit changed in function: ',adult())
print('No effect at global level: ',age_limit)

age limit changed in function:  16
No effect at global level:  18

In [66]:
# 3
NUM = 30

def change_NUM(x):
    global NUM
    NUM =x

print('Before changing val: ',NUM)
change_NUM(76)
print('After changing val: ',NUM)

Before changing val:  30
After changing val:  76

In [70]:
# 4
age = 18

def limit_20(x):
    age = 20
    if x > age:
        return 'older'
    else:
        return 'younger'

def std_limit(x):
    if x > age:
        return'older'
    else:
        return 'younger'

print('When age is 19 then: ',limit_20(19))
print('When age is 19 then: ',std_limit(19))

When age is 19 then:  younger
When age is 19 then:  older

In [77]:
# 5 
def count_values(x):
    counts = 0
    for items in x:
        counts+=1
    return count

print(count_values(numbers))
try:
    print(counts+10)
except:
    print('Cannot access local variable')

21
Cannot access local variable