# Test 1.0 (Basic Python)
* Mayur Gawande

#  List

1- Create an empty list called fruits.

2- Add "apple" to the fruits list using append().

3- Add another list ["banana", "cherry"] to fruits using extend().

4- Remove "banana" from the fruits list using remove().

5- Remove the last item from fruits using pop().

6- Reverse the fruits list using reverse().

7- Insert "mango" at index 1 in the fruits list using insert().

8- Print elements from index 2 to 4 using slicing.

9- Create a list of numbers from 1 to 5.

10- Print the first and last element of the list using indexing.

11- Change the value at index 2 to 10.

12- Check if "grape" exists in the list fruits, and print a message.

13- Use a loop to print all items in the list one by one.

14- Use len() to print the number of items in the list.

In [ ]:
# List answers : 

# 1 
fruits = []
print(fruits)

# 2
fruits.append('append')
print(fruits)

#3
fruits.extend(['banana','cherry'])
print(fruits)

#4
fruits.remove('banana')
print(fruits)

#5
fruits.pop()
print(fruits)

#6
fruits.reverse()
print(fruits)

#7
fruits.insert(1,'mango')

#8
print(fruits[2:4])

#9
ls = [x for x in range(1,5)]
print(ls)

#10
print(ls[0])
print(ls[-1])

#11
ls[2] = 10
print(ls)

#12
print('grape' in fruits)

#13
for x in fruits:
    print(x)

#14
print(len(fruits))
print(len(ls))

[]
['append']
['append', 'banana', 'cherry']
['append', 'cherry']
['append']
['append']
[]
[1, 2, 3, 4]
1
4
[1, 2, 10, 4]
False
append
mango
2
4

# Tuple

1- Create a tuple of numbers like (1, 2, 3, 2, 4, 2).

2- Use count() to find how many times 2 appears.

3- Use index() to find the index of the number 4.

4- If you want to add an item to a tuple, how will you convert it to a list, append the item, and convert it back to a tuple?

5- Create a tuple of 3 strings: "red", "green", "blue".

6- Try changing the first item of the tuple â€” what error do you get?

7- Convert this tuple to a list, add a new color, and convert it back to a tuple.

In [6]:
# answers : 

#1
tup = (1,2,3,2,4,2)

#2
tup.count(2)

#3
tup.index(4)

#4
'''
Convert the tuple into list
Use append function to add item
Convert the list back to tuple
'''
tup = list(tup)
tup.append(5)
tup = tuple(tup)

#5
new_tup = ('red', 'green', 'blue')

#7
new_tup = list(new_tup)
new_tup.append('yellow')
new_tup = tuple(new_tup)

In [9]:
#6
'''
TypeError: 'tuple' object does not support item assignment
'''
new_tup[2] = 4

TypeError: 'tuple' object does not support item assignment

# Set

1- Create an empty set called my_set.

2- Add "apple" and "banana" to my_set using add().

3- Do sets allow duplicate values? Explain with an example.

4- Create two sets:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
Find the union and intersection of the sets.

5- Remove an item from a set using discard().

6- Use a loop to print all elements in a set.

In [16]:
#answers 

#1
my_set = set()

#2
my_set.add('banana')
my_set.add('apple')
print(my_set)

#3
'''Sets do not allow the duplicate values
Using add() to add the duplicate values in set will make no effect'''
my_set.add('apple')
print(my_set)

#4
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.union(set2))
print(set1.intersection(set2))

#5
my_set.discard('banana')

#6
for x in set1:
    print(x)

{'apple', 'banana'}
{'apple', 'banana'}
{1, 2, 3, 4, 5}
{3}
1
2
3

# Dictionary

1- Create a dictionary with a key "name" and value "Ali".

2- Access the value of the key "name".

3- Add a new key "age" with the value 25.

4- Update the value of "name" to "Ahmed".

5- Create a dictionary of a student: {"name": "Sara", "grade": "A", "age": 17}

6- Print all keys in the dictionary.

7- Print all values in the dictionary.

8- Check if "grade" key exists in the dictionary.

9- Loop through the dictionary and print each key and its value.

In [ ]:
#answers:

#1
dict = {'name':'Ali'}

#2
print(dict['name'])

#3
dict['age'] = 25

#4
dict['name'] = 'Ahmed'

#5
student = {'name':'Sara',
           'grade':'A',
           'age':17}

#6
print(student.keys())

#7
print(student.values())

#8
print('grade' in student.keys())

#9
for key,value in dict.items():
    print('Key:',key,', Value:',value)

Ali
dict_keys(['name', 'grade', 'age'])
dict_values(['Sara', 'A', 17])
True
Key: name , Value: Ahmed
Key: age , Value: 25

# If-Elif-Else

numbers = [5, 10, 15, 20, 25]

1- Check if 10 is in the list. If it is, print "Found 10", otherwise print "10 not found".

2- Write a condition: If any number is greater than 20, print "Large number", else print "Small number".

In [34]:
numbers = [5, 10, 15, 20, 25]
#answers

#1
if 10 in numbers:
    print('Found 10')
else:
    print('10 not found')

#2
if 20 < max(numbers):
    print('Larger Number')
else:
    print('Small Number')

Found 10
Larger Number

# Simple Expression

1- Given a = 5, b = 10 Print the results of: a + b, a * b, b - a, and b / a.

2- Write an expression to calculate (a + b) * 2 and print the result.

3- Write a program that takes age as input from the user and checks:

4- If age >= 18, print "You are an adult", Otherwise, print "You are a minor"

In [ ]:
#answers

#1
a = 5
b = 10
print(a+b)
print(a*b)
print(b-a)
print(b/a)

#2
result = (a+b)*2
print(result)

# 3 and 4 
age = int(input('Enter the age: '))
print('Age entered: ',age)
if age>= 18:
    print('You are an adult')
else:
    print('You are a minor')

15
50
5
2.0
30
Age entered:  21
You are an adult

# More Expression Questions

1- Calculate the area of a rectangle with width = 5 and height = 10. (Formula: area = width * height)

2- Write an expression that converts Celsius to Fahrenheit:
F = (C * 9/5) + 32, where C = 25.

3- Write a simple interest formula:
SI = (P * R * T) / 100, where P=1000, R=5, T=2

In [30]:
#1
width = 5
height = 10

area = width*height

#2
C = 25
F= (C*9/5)+32
print(F)

#3
P = 1000
R = 5
T = 2
SI =(P*R*T)/100
print(SI)

77.0
100.0

# Range Function

1- Use range() to print numbers from 0 to 4.

2- Use range(1, 6) to print numbers from 1 to 5.

3- Use a for loop with range(5) to print "Hello" 5 times.

4- Use range(2, 11, 2) to print even numbers from 2 to 10.

5- Use range(10, 0, -1) to print numbers from 10 to 1 in reverse order.

6- Store a range(3, 8) in a list and print that list.

7- Use range() inside a loop to print squares of numbers from 1 to 5.

In [33]:
#ANSWERS

#1
for x in range(0,4):
    print(x)

#2
for x in range(1,6):
    print(x)

#3
for x in range(5):
    print('Hello')

#4
for x in range(2,11,2):
    print(x)

#5
for x in range(10,0,-1):
    print(x)

#6
list = []
for x in range(2,8):
    list.append(x)
print(list)

#7
for x in range(1,6):
    print(x**2)

0
1
2
3
1
2
3
4
5
Hello
Hello
Hello
Hello
Hello
2
4
6
8
10
10
9
8
7
6
5
4
3
2
1
[2, 3, 4, 5, 6, 7]
1
4
9
16
25

All the Best 
Submit Before Saturday 12 PM