## Test 3.0

Write a Python program to check whether a number is even or odd using if-else.

In [1]:
number = 10

if number%2==0:
    print('Number is even')
else:
    print('Number is odd')

Number is even

Write a for loop that prints numbers from 10 to 1 in reverse

In [2]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

Write a while loop that keeps asking the user to input a number until they enter 0.

In [3]:
while(True):
    val = int(input())
    if val == 0:
        print('Exiting the while loop')
        break
    else:
        print(f'Entered: {val}')

Entered: 4
Entered: 7
Exiting the while loop

Write a function that accepts two numbers and returns their sum.

In [4]:
def add(a,b):
    return a+b

add(10,30)

40

What will be the output of this code: print(list(map(lambda x: x*x, [1, 2, 3])))?

In [5]:
[1,4,9]

[1, 4, 9]

Use the filter() function to extract only even numbers from a list.

In [6]:
def is_even(a):
    if a%2==0:
        return a

list(filter(is_even,[5,6,8,123,54,67]))

[6, 8, 54]

Explain the purpose of the else block in a try-except-else construct.

In [7]:
'''Else block is executed when the try block is completely 
executed without any error/exception'''

'Else block is executed when the try block is completely \nexecuted without any error/exception'

Write a try-except block to handle division by zero.

In [8]:
def divide(a,b):
    try:
        c = a/b
        return c
    except ZeroDivisionError:
        print('Cannot Divide by zero')

divide(10,0)

Cannot Divide by zero

What is the output of this lambda function? print((lambda x, y: x+y)(5, 3))

In [9]:
# Output of this lambda function is 8, because this adds the two values

Define a class named Dog with properties name and breed. Add a method bark().

In [10]:
class Dog:
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed
    
    def bark(self):
        print('Bhaw...Bhaw...')

Create two objects of the Dog class and call their methods.

In [11]:
dog_a = Dog('Tommy','German-shephard')
dog_b = Dog('Jerry','Labrador')

dog_a.bark()
dog_b.bark()

Bhaw...Bhaw...
Bhaw...Bhaw...

What is the difference between class variables and instance variables?

In [12]:
# Class variables are usable throughout the class of the program,they are defined in the '__init__' constructor
# while instance variables are limited to function or conditional-statements, and cannot be used outside it

What will this print: print("apple" if 5 > 3 else "banana")?

In [13]:
"apple"

'apple'

Write a function that accepts a list and returns the list of squares using list comprehension.

In [14]:
def square(a:list):
    return [x**2 for x in a]
a = [2,3,4,5,6]
square(a)

[4, 9, 16, 25, 36]

Explain what map() and filter() return when executed.

In [15]:
# map() returns the all list of values with applied operations
# filter() returns the list of values which satisfies the given condition

In [16]:
import numpy as np

### Numpy

Create a 3x3 matrix using np.random.randint(0, 10, (3, 3)).

In [17]:
mat = np.random.randint(0,10,(3,3))
mat

array([[9, 2, 2],
       [6, 9, 6],
       [3, 6, 6]], dtype=int32)

Slice the above matrix to extract the first two rows.

In [18]:
mat[:2]

array([[9, 2, 2],
       [6, 9, 6]], dtype=int32)

Combine two 3x3 matrices using np.concatenate along axis 0 and axis 1.

In [19]:
mat_a = np.random.randint(0,10,(3,3))
mat_b = np.random.randint(0,10,(3,3))

print('Along axis = 0 : \n',np.concatenate((mat_a,mat_b)))
print('\nAlong axis = 1 : \n',np.concatenate((mat_a,mat_b),axis=1))

Along axis = 0 :
 [[1 0 3]
 [6 2 1]
 [6 8 0]
 [7 7 7]
 [4 8 7]
 [5 1 6]]

Along axis = 1 :
 [[1 0 3 7 7 7]
 [6 2 1 4 8 7]
 [6 8 0 5 1 6]]

Perform element-wise addition, subtraction, and multiplication of two matrices.

In [20]:
print('Addition: \n',mat_a + mat)
print('\nSubtraction: \n',mat_a - mat)
print('\nMultiplication: \n',mat_a * mat)

Addition:
 [[10  2  5]
 [12 11  7]
 [ 9 14  6]]

Subtraction:
 [[-8 -2  1]
 [ 0 -7 -5]
 [ 3  2 -6]]

Multiplication:
 [[ 9  0  6]
 [36 18  6]
 [18 48  0]]

Demonstrate broadcasting by adding a 1D array to a 2D array.

In [21]:
one_d = np.array([4,5,6,7])
two_d = np.array([[7,8,9,0],[6,2,6,3]])
broad_cast = two_d + one_d

broad_cast #[4,5,6,7] is added by row

array([[11, 13, 15,  7],
       [10,  7, 12, 10]])

Use np.clip to limit values in a matrix to a minimum of 2 and maximum of 8.

In [22]:
clipped = np.clip(two_d,a_max=8,a_min=2)
clipped

array([[7, 8, 8, 2],
       [6, 2, 6, 3]])

Use np.ceil on an array of floating-point numbers [1.2, 2.5, 3.8].

In [23]:
np.ceil([1.2, 2.5, 3.8])

array([2., 3., 4.])

Use np.where to replace all elements greater than 5 with 100 in a given array.

In [27]:
new_mat = np.where(mat<5,mat,100)
new_mat

array([[100,   2,   2],
       [100, 100, 100],
       [  3, 100, 100]], dtype=int32)

Create two 2x2 matrices and compute their dot product.

In [25]:
a = np.array([[3,4],[5,6]])
b = np.array([[2,3],[7,9]])
np.dot(a,b)

array([[34, 45],
       [52, 69]])

What is the difference between np.array([1, 2, 3]) and np.array([[1, 2, 3]])?

In [26]:
# The first array is a one dimensional array
# Second array is a two dimensional array

All the Best 
*Submit Before 10 PM*